{% extends 'users/base.html' %}
{% load static %}

{% block title %}Добавить отзыв | Hop & Barley{% endblock %}

{% block content %}
<!-- Main Content -->
<main class="checkout-page-wrapper">
    <div class="checkout-container">
        <h1 class="checkout-title">Оставить отзыв на "{{ product.name }}"</h1>

        <form id="review-form" method="post">
            {% csrf_token %}

            <!-- Review Information -->
            <section class="checkout-section">
                <h2 class="checkout-section__title">Ваш отзыв</h2>

                <div class="checkout-form-group">
                    <label for="{{ form.rating.id_for_label }}">Рейтинг (1-5 звезд)</label>
                    {{ form.rating }}
                </div>

                <div class="checkout-form-group">
                    <label for="{{ form.comment.id_for_label }}">Комментарий</label>
                    {{ form.comment }}
                </div>
            </section>

            <!-- Product Information -->
            <section class="checkout-section">
                <h2 class="checkout-section__title">Информация о продукте</h2>
                <div class="summary-details">
                    <div class="summary-total">
                        <p>{{ product.name }}</p>
                        <p>${{ product.price }}</p>
                    </div>
                </div>
            </section>

            <!-- Review Submission -->
            <section class="checkout-summary">
                <div class="summary-details">
                    <button type="submit" class="button button--primary button--pay">Отправить отзыв</button>
                    <a href="{% url 'products:detail' product.pk %}" class="button button--secondary">Отмена</a>
                </div>
            </section>
        </form>
    </div>
</main>
{% endblock %}
