<!-- templates/admin/orders/order/change_list.html -->
{% extends "admin/change_list.html" %}
{% load admin_urls %}

{% block object-tools %}
<div class="object-tools">
    {% if has_add_permission %}
        <a href="{% url cl.opts|admin_urlname:'add' %}" class="addlink">
            Добавить заказ
        </a>
    {% endif %}
    <!-- Добавляем кнопку "Аналитика" -->
    {% if analytics_url %}
        <a href="{{ analytics_url }}" class="viewlink">
            Аналитика
        </a>
    {% endif %}
</div>
{% endblock %}